* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	font-weight: bold;
}

body {
	height: 100vh;
	width: 100vw;
}

#root {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

#content {
	padding: 32px;
	display: grid;
	grid-template-rows: auto auto auto;
}

.bolded {
	font-weight: bold;
}

#header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 16px;
}

input {
	appearance: none;
	padding: 4px 8px;
	border-radius: 16px;
}

form {
	position: relative;
}

#submit-btn {
	position: absolute;
	right: 8px;
	top: 0;
  bottom: 0;
  margin: auto 0;
	border: none;
	background-color: transparent;
}

#toggle-btn {
	padding: 4px 8px;
	border-radius: 16px;
}

#summary-forecast {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.city-details {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 8px;
}

#hourly-forecast {
	min-width: 0;
	display: flex;
	justify-content: center;
	overflow-x: auto;
	gap: 16px;
	align-self: center;
}

.hourly-card {
	margin: auto;
}

#hourly-forecast::-webkit-scrollbar-track {
	background: transparent;
	border: none;
}

#daily-forecast {
	place-self: center;
}

#daily-forecast-table {
	text-align: center;
}

#footer {
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}
